@type: 'extra';
@element: 'custom';

@import (multiple) '../../theme.config';

// TODO style tags
.freemanualtags {
    display: inline-block;
    margin-left: 1rem;
}

.ui.grid > .row > .column.facetedsearch_filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    .ui.card {
        margin: 1em 0.5em 1em 0em;
    }
}


.ui.dropdown.fnfilter {
    font-family: @fontName;
    font-size: 1rem;
    margin: 0 0 .5rem 0;
    background-color: #f3f1f1;
    padding: 0 0 0 .3rem;
    & > .dropdown.icon {
        font-size: 1rem;
    }
    &.selected {
        background-color: @grey;
        color: @white;
    }
}
.ui.pagination.menu {
    font-size: .8rem;
}
div.fnresults {
    .ui.items {
        &> .item {
            .ui.tag {
                // margin-left: 1rem;
            }
            .content .header {
                font-family: @fontName;
                font-size: 1rem;
                color: @red;
            }
        }

    }
    .ui.divided.items > .item {
        border: none;
    }
}