@type: 'extra';
@element: 'custom';

@import (multiple) '../../theme.config';

.ui.grid > .row > .column.facetedsearch_filter {
    &.cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        .ui.card {
            margin: 1em 0.5em 1em 0em;
        }
    }
    &.dropdown {
        .ui.dropdown.fnfilter {
            font-family: @fontName;
            font-size: 1rem;
            margin: 0 0 .5rem 0;
            background-color: #f3f1f1;
            // padding: 0 0 0 .3rem;
            padding: 0.8rem 1.8rem;
            & > .dropdown.icon {
                font-size: 1rem;
            }
            .icon.delete {
                position: absolute;
                top: 0.8rem;
                left: 3px;
            }
            &.selected {
                background-color: #e8e3e3;
                color: @black;
                .text {
                    max-width: 95%;
                }
            }
            .menu {
                width: 100%;
                background-color: #d8d2d2;
                border: none;
                box-shadow: none;
                & > .item {
                    padding: 0.8rem 1.8rem !important;
                    // color: @white;
                    & > .item.isSelected {
                        font-weight: bold;
                    }
                }
            }
            div.visible .menu {
                display: block !important;
                visibility: visible !important;
            }
        }
    }
}

.countlabel {
    font-weight: bold;
}
