/* 
 * @rohberg/volto-searchkit-block
 * springisnow-volto-searchkit-block.less
 */

@type: 'extra';
@element: 'custom';

@import (multiple) '../../theme.config';

// .ui.grid > .row > .column.facetedsearch_filter {
.facetedsearch_filter {
    &.cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-evenly;
        .ui.card {
            margin: 1em 0.5em 1em 0em;
        }
    }
    &.dropdown {
        .bucketAE {
            display: flex;
            align-items: baseline;
            margin: 0 0 .5rem 0;
            .ui.dropdown.fnfilter {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                font-family: @fontName;
                font-size: 1rem;
                margin: 0;
                background-color: #f3f1f1;
                // padding: 0 0 0 .3rem;
                padding: 0.8rem 1.8rem;
                & > .dropdown.icon {
                    font-size: 1rem;
                }
                &.selected {
                    background-color: #e8e3e3;
                    color: @black;
                    .text {
                        max-width: 95%;
                    }
                }
                .menu {
                    width: 100%;
                    background-color: #d8d2d2;
                    border: none;
                    box-shadow: none;
                    & > .item {
                        padding: 0.8rem 1.8rem !important;
                        line-height: 1.4em;
                        // color: @white;
                        & > .item.isSelected {
                            font-weight: bold;
                        }
                    }
                }
                div.visible .menu {
                    display: block !important;
                    visibility: visible !important;
                }
            }
            .icon.deleteFilter {}
        }
    }
}

.countlabel {
    font-weight: bold;
}
