###############################################################################
# mxdev combined constraints
-c constraints-mxdev.txt

###############################################################################
# main package
-e sources/rohberg.voltosearchkitblocktestingprofiles
