###############################################################################
# begin constraints from: constraints.txt

elasticsearch~=8.0

# end constraints from: constraints.txt
###############################################################################

