###############################################################################
# mxdev combined constraints
-c constraints-mxdev.txt


###############################################################################
# mxdev development sources
-e ./sources/collective.elastic.ingest --install-option="--pre"

###############################################################################
# begin requirements from: requirements.txt


elasticsearch
redis
# collective.elastic.ingest -> mxdev disabled (source)

# end requirements from: requirements.txt
###############################################################################
