name: Acceptance tests
on: [push]

env:
  ADDON_NAME: "@rohberg/volto-searchkit-block"
  ADDON_PATH: volto-searchkit-block
  VOLTO_VERSION: 17
  PLONE_VERSION: 6.0

  INDEX_SERVER: opensearch:9200
  INDEX_OPENSEARCH: 1
  INDEX_USE_SSL: 1
  INDEX_LOGIN: admin
  INDEX_PASSWORD: "oxczBG).3xWyapLn"

  CELERY_BROKER: redis://redis:6379/0
  CELERY_LOG_LEVEL: info

  PLONE_SERVICE: http://backend-acceptance:55001
  PLONE_SITE_PREFIX_PATH: plone
  PLONE_USER: admin
  PLONE_PASSWORD: secret

  MAPPINGS_FILE: /configuration/mappings.json
  ANALYSIS_FILE: /configuration/analysis.json
  PREPROCESSINGS_FILE: /configuration/preprocessings.json

jobs:
  acceptance:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Cypress
        run: |
          cd acceptance
          yarn

      - name: "Cypress: Acceptance tests"
        uses: cypress-io/github-action@v6
        env:
          BABEL_ENV: production
          CYPRESS_RETRIES: 2
        with:
          parallel: false
          browser: chrome
          working-directory: acceptance
          spec: cypress/tests/*.cy.js
          install: false
          start: |
            docker compose -f ci.yml --profile prod up
          wait-on: 'npx wait-on --httpTimeout 20000 http-get://localhost:55001/plone http://localhost:3000 http://localhost:9200'

      # Upload Cypress screenshots
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots-acceptance
          path: acceptance/cypress/screenshots

      # Upload Cypress videos
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-videos-acceptance
          path: acceptance/cypress/videos
